a:link{
    color:lawngreen
}

a:visited{
    color: gray;
}

a:hover{
    color:tomato;
}

a:active{
    color:yellow;
}

button:hover{
    background-color:lightgrey;
}

button:active{
    background-color:white;
}

/* li:nth-child(){
    background-color: yellow;
} */

/* li:nth-child(even){
    background-color: skyblue;
}

li:nth-child(odd){
    background-color: powderblue;
} */

li:nth-child(5n+0){
    background-color: powderblue;
}